.outer-div {
  background-color: blue;
  height: 25vh;
  width: max(100px, 1rem, 4em, 50%)
}

.inner-div {
  position: sticky;
  top: 0;
  left: 200px; 
  background-color: red;
  width: 40px;
}

body {
  height: 200vh;
}